@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* // body, html{
//   font-size:0.5208vw;
//   @include for-mobile{
//     font-size:1.303vw;
//   }
// } */
* {
  box-sizing: border-box;
  outline: medium none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
}
a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: 0 none;
}
ul, ol, li {
  list-style: none;
  background: none;
}
body {
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
hr {
  border: none;
}
body, input, textarea, select, button {
  text-rendering: optimizeSpeed;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  color:var(--bs-body-color);
}
::placeholder, ::-ms-input-placeholder, ::-ms-input-placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  color:#838181;
 /* Firefox */
}
/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
.button {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
.imgwrap {
  display: inline-block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.dn{
  display:none !important;
}
main{
  flex:1;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
main.container-fluid{
  padding:0;
}
.section{
  /* height:100svh; */
  height:100%;
  width:100%;
  position:relative;
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:center center;
  background-color:var(--bs-white);
  background-attachment:fixed;
}
.section h2{
  font-weight:800;
  font-size:28px;
}
.show .fadeup{
  animation:fade_Up .5s ease-in-out;
}
.show .fadein{
  animation:fade_In .5s ease-in-out;
}
/* keyframes css */
@keyframes fade_In{
  from{
        opacity:0;
  }
  to{
        opacity:1;
  }
}
@keyframes fade_Up{
  from{
        opacity:0;
        transform:translate3d(0, 100%, 0);
  }
  to{
        opacity:1;
        transform:translate3d(0, 0, 0);
  }
}

